body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #282832;
}

article {
    margin-top: 76px;
}

.clearfix {
    clear: both;
}

h2 {
    color: #2cacc1;
}

h3 {
    color: #78788c;
}

.headline {
    text-align: center;
    position: relative;
}

.headline img {
    width: 100%;
}

.headline h1 {
    position: absolute;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #46465a;
    padding: 10px 15px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
}

nav > ul {
    display: inline;
    float: right;
}

nav > ul > li {
    display: inline-block;
    background-color: #e2e2e7;
    width: 70px;
    text-align: center;
    border-radius: 3px;
    padding: 3px;
}

nav img {
    margin-top: 9px;
}

#test {
    background-color: aqua;
}

section {
    margin: 20px auto 20px;
    text-align: justify;
    max-width: 600px;
    padding: 0 10px;
}

.to-right {
    float: right;
    margin: 0 0 15px 15px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -10px;
}

.gallery img {
    margin: 10px;
}


iframe {
    width: 100%;
    height: 400px;
}