body {
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    color: #2cacc1;
}

h3 {
    color: #78788c;
}

nav {
    background-color: #46465a !important;
}
nav a {
    color: #ffffff;
    font-size: 18px;
}

nav a:hover {
    color: #e6e8f2;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.headline {
    margin-top: 66px;
    text-align: center;
    position: relative;
}

.headline img {
    width: 100%;
}

.headline h1 {
    position: absolute;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
    width: 100%;
}

section {
    margin-top: 40px;
}


.to-right {
    float: right;
    margin: 0 0 15px 15px;
}

iframe {
    width: 100%;
    height: 400px;
}